
body {
    background-color: #e8e8e8 !important;
}

.d-flex {
    background-color: white;
}

canvas {
    width: 300px;
    height: 200px;
}

.gauge-text {
    font-size: 24px;
    font-weight: bold;
}

.fan-speed-control {
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none;
}

.fan-speed-control-text {
    float: right;
}

@media screen and (min-width: 900px) {
    .fan-speed-control {
        opacity: 0.7;
        transition: opacity .2s;
    }

    .fan-speed-control:hover {
        opacity: 1;
    }
}
