[Unit]
Description=pyBMC Application
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/pybmc
Restart=on-failure
WorkingDirectory=/var/www/pyBMC
User=pybmc
ExecStart=/var/www/pyBMC/venv/bin/hypercorn --bind ${BIND_HOST}:${BIND_PORT} "pyBMC:create_app()"

[Install]
WantedBy=multi-user.target
